body {
        text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "liga","tnum","case","calt","zero","ss01","locl","calt";
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    background-color: #1f222a;
    color: #fff;
    color: var(--color);
    font-family: Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
    font-size: 1rem;
    font-variant-ligatures: contextual;
    letter-spacing: -.02em;
    line-height: 1.54;
    margin: 0;
    padding: 0;
}
.footer{
    margin: auto;
    margin-top: 80px;
}
.footer-text-color {
    color: #8f9094;
}
.main-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    max-width: 864px;
    min-height: 100vh;
    padding: 40px;
}
.center {
    border: none;
    margin: 0 auto;
}
color-home {
    background: #04AA6D;
}
.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #04AA6D;
}

.header-items {
  float: left;
}

.header-items a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-items a:hover:not(.active) {
  background-color: #ddd;
}

.header-items a.active {
  color: white;
  background-color: #04AA6D;
}
@media screen and (max-width: 1200px) {
    body{
        font-size: x-large;
    }
  .header-responsive {
    height: 80px;
    font-size: 35px;
  }
  .sub-header-items {
    font-size: 30px;
  }
}
.sub-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.sub-header-items {
  float: left;
}

.sub-header-items a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sub-header-items a:hover:not(.active) {
  background-color: #ddd;
}
.text-decoration-none{
    text-decoration: none;
}
.sub-header-items a.active {
  color: white;
  font-style: italic;
  text-decoration: underline;
}
.article-title {
    --border: 3px dotted var(--accent);
    border-bottom: var(--border);
    color: #04AA6D;
    margin: 0 0 15px;
    padding-bottom: 15px;
    position: relative;
    text-decoration: none;
}
.article-list {
    border-bottom: 1px solid #ffffff1a;
}
.tag-title {
    --border: 3px dotted var(--accent);
    border-bottom: var(--border);
    color: #04AA6D;
    margin: 0 0 15px;
    padding-bottom: 15px;
    position: relative;
    text-decoration: none;
    line-height: 40px;
}
.horizontal-line{
    border-top: 1px solid #04AA6D;
    margin-bottom: 20px;
}
.tag-list{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tag-list .tag{
    color: #8f9094;
}
pre {
	margin: 20px; padding: 20px;
	color: #fff; background-color: #222;
	white-space: pre; text-shadow: 0 1px 0 #000;
	border-radius: 15px; border-bottom: 1px solid #555;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4) inset, 0 0 20px rgba(0,0,0,0.2) inset;
	font: 16px/24px 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}