{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Diary</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
<div class="main-container center">
    <ul class="header header-responsive">
      <li class="header-items"><a class="active" href="/">Diary</a></li>
    </ul>
    <ul class="sub-header">
      <li class="sub-header-items"><a class="active" href="/">Home</a></li>
      <li class="sub-header-items"><a class="active" href="/tags">Tags</a></li>
    </ul>
    {% block content %}
        <!-- Content Goes here -->
    {% endblock content %}

    <div class="footer">
        
    </div>
</div>
</body>
</html>